<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.mapper.SongListStyleMapper">

    <resultMap id="BaseResultMap" type="com.xs.domain.SongListStyle">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="style" column="style" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
